---
import { ViewTransitions } from "astro:transitions";
import  SpeedInsights  from "@vercel/speed-insights/astro";
import { pwaInfo } from "virtual:pwa-info";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter";
import { HeadHrefLangs } from "astro-i18next/components";
import { SEO } from "astro-seo";
import i18next from "i18next";
import { t } from "i18next";

export interface Props {
  title?: string;
  lang?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/meta/opengraph.webp",
  Astro.site,
).toString();

const { title, lang = null } = Astro.props;

const makeTitle = title
  ? `${title}`
  : `${t("site.title")}`;
---

<html lang={lang ?? i18next.language}>
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content="#ffffff" />
<SpeedInsights />

		<HeadHrefLangs />

<script src="https://analytics.ahrefs.com/analytics.js" data-key="Ku8HzupxQ7S1X+ddBrs6UQ" async></script>
<script id="aclib" type="text/javascript" src="//acscdn.com/script/aclib.js"></script>

  <ViewTransitions />

  <!-- Global CSS -->
  <link rel="stylesheet" href="/index.css" />

  <SEO
    title={makeTitle}
    description={t("site.description")}
    canonical={canonicalURL}
    openGraph={{
      basic: {
        url: canonicalURL,
        type: "website",
        title: makeTitle,
        image: resolvedImageWithDomain,
      },
      image: {
        alt: t("hero.title"),
      },
    }}
  />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={makeTitle} />
  <meta name="twitter:description" content={t("site.description")} />
  <meta name="twitter:image" content={resolvedImageWithDomain} />
  <meta name="twitter:site" content="@YourTwitterHandle" />
  <meta name="twitter:creator" content="@AuthorTwitterHandle" />

  <!-- Theme Switching -->
  <script is:inline>
    function handleThemeChange() {
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    }
    handleThemeChange();
    document.removeEventListener("astro:after-swap", handleThemeChange);
    document.addEventListener("astro:after-swap", handleThemeChange);
  </script>

  {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  <script src="/src/pwa.ts"></script>
<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var p=window,t="b0b1bc1d57de55880040670c02a5f6f8",m=[["siteId",682+686+712+5153885],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],a=["d3d3LnhhZHNtYXJ0LmNvbS9kc3Ryb3BoZS5taW4uY3Nz","ZDExZW5xMnJ5bXkweWwuY2xvdWRmcm9udC5uZXQvYUQva3dlbGQubWluLmpz"],j=-1,q,n,g=function(){clearTimeout(n);j++;if(a[j]&&!(1777640653000<(new Date).getTime()&&1<j)){q=p.document.createElement("script");q.type="text/javascript";q.async=!0;var b=p.document.getElementsByTagName("script")[0];q.src="https://"+atob(a[j]);q.crossOrigin="anonymous";q.onerror=g;q.onload=function(){clearTimeout(n);p[t.slice(0,16)+t.slice(0,16)]||g()};n=setTimeout(g,5E3);b.parentNode.insertBefore(q,b)}};if(!p[t]){try{Object.freeze(p[t]=m)}catch(e){}g()}})();
/*]]>/* */
</script>

</head>
  <body class="dark:bg-stone-950">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/  */
      img {
        content-visibility: auto;
		contain-intrinsic-size: 0 200px;
      }
    </style>
  </body>
</html>